{{page-title "Activity Merge"}}

<section
  class="content {{if this.isDragging 'drag-over'}}"
  {{on "drop" this.onDrop}}
  {{on "dragover" this.onDragOver}}
  {{on "dragend" this.onDragEnd}}
  {{on "dragleave" this.onDragLeave}}
>
  <div class="drop-zone" data-test-drop-zone>
    <main>
      <strong><button
          class="select-files"
          type="button"
          {{on "click" this.onFilesSelect}}
        >Select</button>
        or drag files to merge.</strong>
      <aside class="info">fit, gpx and tcx files accepted.</aside>
      <div class="status">
        {{#if this.isMerging}}
          Merging
          {{this.fileNames}}<span class="loading"></span>
        {{/if}}
      </div>

    </main>
  </div>
  <footer>
    <p>© 2021
      <a
        rel="noopener noreferrer"
        class="source"
        target="_blank"
        href="https://blog.mrloop.com/"
      >Ewan McDougall</a>
      ●
      <a
        rel="noopener noreferrer"
        class="source"
        target="_blank"
        href="https://github.com/mrloop/activity-merge/"
      >source code here</a></p>

  </footer>
  <div class="sponsor">
    <a class="link" href="https://picturewham.com?t=plm">
      Sponsored<br />by
      <img
        class="picture-wham-logo"
        src="images/picture-wham-logo-mark.svg"
        alt="Picture Wham Logo"
      />
    </a>
  </div>
</section>

<label class="file-input">Select files to merge<input
    data-test-input
    accept=".FIT,.fit,.GPX,.gpx,.TCX,.tcx,application/gpx+xml,application/vnd.garmin.tcx+xml"
    multiple
    type="file"
    {{click this.filesSelectClickCount}}
    {{on "change" this.onFilesSelected}}
  /></label>
{{#if this.objectUrl}}
  <a
    data-test-download
    download={{this.fileName}}
    href={{this.objectUrl}}
    aria-hidden="true"
    {{click this.fileName}}
    {{on "click" this.cleanUp}}
  ></a>
{{/if}}