{{page-title 'Activity Merge'}}

<div
  class='content {{if this.isDragging 'drag-over'}}'
  {{on 'drop' this.onDrop}}
  {{on 'dragover' this.onDragOver}}
  {{on 'dragend' this.onDragEnd}}
  {{on 'dragleave' this.onDragLeave}}
>
  <div class='drop-zone' data-test-drop-zone>
    <main>
      <strong><button
          class='select-files'
          type='button'
          {{on 'click' this.onFilesSelect}}
        >Select</button> or drag files to merge.</strong>
      <aside class='info'>fit, gpx and tcx files accepted.</aside>
      <div class="status">
        {{#if this.isMerging}}
          Merging {{this.fileNames }}<span class='loading'></span>
        {{/if}}
      </div>

    </main>
  </div>
</div>

<label class='file-input'>Select files to merge<input
  accept='.FIT,.fit,.GPX,.gpx,.TCX,.tcx,application/gpx+xml,application/vnd.garmin.tcx+xml'
  multiple
  type='file'
  {{on 'change' this.onFilesSelected}}
  {{did-insert this.setFileInput}}
/></label>
{{#if this.objectUrl}}
  <a
    download={{this.fileName}}
    href={{this.objectUrl}}
    {{did-insert this.setDownloadLink}}
  ></a>
{{/if}}