{{page-title 'TrackMerge'}}

<div
  class='drop-zone'
  {{on 'drop' this.onDrop}}
  {{on 'dragover' this.onDragOver}}
  {{on 'dragend' this.onDragEnd}}
>
  <strong>Drag two or more files to merge</strong>
</div>

{{outlet}}