{{page-title 'TrackMerge'}}

<div
  class='content {{if this.isDragging 'drag-over'}}'
  {{on 'drop' this.onDrop}}
  {{on 'dragover' this.onDragOver}}
  {{on 'dragend' this.onDragEnd}}
  {{on 'dragleave' this.onDragLeave}}
>
  <div
    class='drop-zone'
    data-test-drop-zone
  >
    <strong>Drag two or more files to merge</strong>
  </div>
</div>
<a
  download={{this.fileName}}
  href={{this.objectUrl}}
  {{did-insert this.setDownloadLink}}
></a>

{{outlet}}